{
  "extends": ["react-app", "airbnb", "prettier"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.config.eslint.js"
      }
    }
  },
  "rules": {
    "curly": [2, "all"],
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/anchor-is-valid": [2, { "components": [] }],
    "react/jsx-filename-extension": 0,
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/prop-types": 0,
    "react/forbid-prop-types": 0,
    "no-restricted-globals": 0,
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "every": ["id"]
        }
      }
    ],
    "no-restricted-syntax": [
      2,
      "DebuggerStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "import/prefer-default-export": 0,
    "no-continue": 0,
    "react/prefer-stateless-function": 0,
    "no-plusplus": 0,
    "no-await-in-loop": 0,
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": true
      }
    ],
    "no-unused-vars": 1,
    "no-shadow": 0,
    "import/no-named-as-default": 0,
    "prefer-destructuring": 0,
    "react/jsx-one-expression-per-line": [0, { "allow": "none" }],
    "react/destructuring-assignment": [0, "never"],
    "react/jsx-curly-brace-presence": [0, "never"]
  }
}
